@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    font-family: sans-serif;
    color: rgb(212, 111, 128)''
}
.imagem-logo{
    width: 250px;
    height: 150px;
    margin-left: 25px;
    font-size: 2rem;
}

.container {
	width: 94%;
	margin: 0 auto;
}

.cabecalhoPrincipal {
	background-color: #fff;	
}

.cabecalhoPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav{
    display: flex;
	border-radius: 10px;
}
.cabecalhoPrincipal-titulo {
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 20px;
}

.cabecalhoPrincipal-titulo a {
	text-decoration: none;
	color: inherit;
}

.barrinha{
  margin-top: 15px;
  color: #B76E79;
}

.cabecalhoPrincipal-nav-link {
	padding: 15px;
	margin-bottom: 10px;
	color: #242323;
	text-decoration: none;
	transition: .5s;
	display: block;
  padding-right: 25px;
  font-size: 18px;
  text-transform: uppercase;
}
.cabecalhoPrincipal-nav-link:hover{
	color: goldenrod;
	transition: .7s ease-in-out 0s;
	border-bottom: gold solid 3px;
}
.Pricipal-home{
	display: flex;
	width: 100%;
}
/*slider*/
.slideshow-container {
    padding-top: 0;
    width: 100%;
    height: 520px;
    display: block;
}
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    display: block;
    width: auto;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    display: block;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding-top: 0%;
    display: none;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
/* ::-webkit-scrollbar{

} */

.class-servico{
  background-image: url(marmore-branco.jpg);
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  padding-left: 0%;
}

.iniciativa-servicos{
  text-transform: uppercase;
  display: block;
}
.titulo-servicos{
  text-align: center;
  font-size: 28px;
  text-decoration: underline;
  padding-top: 5%;
}
.servicos{
  padding-top: 50px;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  display: flex;
}
.servicos-2{
  padding-top: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  padding-left: 19%;
  padding-bottom: 50px;
}

.conteudo-servicos{
  flex-direction: column;
  width: 200px;
  margin-left: 12%;
  justify-content: space-between;
  margin-bottom: 50px;text-align: justify;
}
.conteudo-servicos-2{
  flex-direction: column;
  width: 200px;
  margin-left: 9%;
  margin-right: 11%;
  justify-content: space-between;
  margin-bottom: 50px;
}

.imagem-servicos{
  width: 230px;
  height: 230px;
  border-radius: 5px;
}
.descricao-servicos{
  text-align: left;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  font-weight: bold;
}
.texto-servicos{
  text-align: justify;
  font-size: 14px;
}
.botao-servicos{
  padding: 10px;
  background: rgb(235, 231, 231);
  border-radius: 10px;
  margin-top: 2%;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  transition: .7s ease-in-out 0s;
}
.botao-servicos:hover{
  background-color: pink;
}

.contato-principal{
  background: pink;
  height: 680px;
  color: rgb(212, 111, 128);
}
.titulo-contato{
  font-size: 28px;
  text-align: center;
  padding-top: 5%;
  text-transform: uppercase;
  text-decoration: underline;
  padding-bottom: 50px;
}
.global-contato{
  display: flex;
  padding-bottom: 50px;
  padding-left: 100px;
}
.content{
  display: flex;
  justify-content: left;
  margin-top: 30px;
  margin-left: 8%;
}
.content h3{
  font-size: 22px;
  padding-bottom: 15px;
  text-align: center;
}
.contato{
  width: 100%;
  max-width: 500px;
}
.form{
  display: flex;
  flex-direction: column;
}
.field{
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.field2{
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
}
textarea{
  height: 150px;
}
#divisoria{
  height: 450px;
  border-right: 3px solid #B76E79;
  padding-left: 15%;
}

.redes-sociais{
  margin: 5% 9% 0 15%;
}
.contato-redes{
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-decoration: underline;
  color: rgb(212, 111, 128);
}
.titulo-redes{
  font-size: 18px;
  text-align: justify;
  padding-bottom: 15px;
  color: black;
}
.endereco{
  font-size: 16px;
  text-align: justify;
  padding-bottom: 15px;
  color: black;
}
.redes{
  flex-direction: column;
}
.icone_insta{
  width: 50px;
  height: 50px;
}
.icone_whats{
  width: 40px;
  height: 40px;
}
.icone_face{
  width: 40px;
  height: 40px;
}
.redes p{
  margin-top: 10px;
}
.mapa{
  background-image: url(WhatsApp\ Image\ 2021-11-27\ at\ 21.44.03.jpeg);
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
}
.mapa h1{
  text-align: center;
  font-size: 28px;
  padding-top: 5%;
  text-decoration: underline;
  text-transform: uppercase;
}
.localizacao{
  margin-top: 5%;
  margin-left: 28%;
  margin-bottom: 50px;
}

/*SObre*/


.sobre{
  background: pink;
  padding-bottom: 5%;
}
.titulo-sobre{
  text-align: center;
  padding-top: 75px;
  font-size: 28px;
  padding-bottom: 50px;
  text-transform: uppercase;
  text-decoration: underline;
}
.conteudo-sobre{
  display: flex;
}

.clinica{
  margin-right: 10%;
  width: 1700px;
  height: 300px;
  margin-left: 5%;
}
.paragrafo-sobre{
  margin-right: 15%;
  text-align: justify;
}

.footer-conteudo{
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
}
.footer-conteudo img{
  width: 200px;
}
.carinho{
  width: 100%;
  height: 50px;
  background-color: #60E1E0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1e1e2a;
}
.nome{
  color: black;
  text-decoration: none;
  text-decoration: underline;
}
.love {
  display:inline-block;
  position:relative;
  top:.1em;
  font-size:1.8em;
  color:red;
  transform:scale(.9);
  animation:love .3s linear infinite alternate-reverse;
  padding-left: 5px;
}
 
 @keyframes love {
  to {
   transform:scale(1.1)
  }
 }

@media (max-width: 400px){
  .cabecalhoPrincipal{
    align-items: left;
    justify-content: none;
  }
  .container{
    flex-direction: column;
  }
  .cabecalhoPrincipal-nav{
    flex-direction: column;
  }
  .cabecalhoPrincipal-nav-link{
    text-align: left;
  }
  .barrinha{
    display: none;
  }
  .span{
    width: 350px;
    border: 1px solid #B76E79;
  }
  .Pricipal-home{
    width: 100%;
  }
  .class-servico{
    flex-direction: column;
    display: block;
    width: 100%;

  }
  .conteudo-servicos{
    flex-direction: column;
  }
  .servicos{
    width: 100%;
    flex-direction: column;
  }
  .servicos-2{
    flex-direction: column;
    padding: 0;
  }
  .contato-principal{
    flex-direction: column;
    height: 100%;
    padding-bottom: 50px;
  }
  .global-contato{
    flex-direction: column;
    margin: 10px;
    padding: 0px;
    align-items: center;
  }
  #divisoria{
    display: none;
  }
  .divisoria{
    width: 350px;
    margin-top: 50px;
    border: 1px solid #B76E79;
  }
  .mapa{
    width: 100%;
    background-image: url(marmore-branco.jpg);
  }
  .mapa iframe{
    margin-top: 75px;
    width: 300px;
    height: 200px;
    padding: 0;
    margin-left: 50px;
    margin-bottom: 75px;
  }
  .sobre{
    flex-direction: column;
  }
  .conteudo-sobre{
    flex-direction: column;
  }
  .clinica{
    width: 300px;
    padding-bottom: 50px;
    margin: 0;
    padding-left: 10%;
  }
  .paragrafo-sobre{
    font-size: 18px;
    text-align: justify;
    margin-left: 15%;
  }
}
@media (max-width: 500px){
  .cabecalhoPrincipal{
    align-items: left;
    justify-content: none;
  }
  .container{
    flex-direction: column;
  }
  .cabecalhoPrincipal-nav{
    flex-direction: column;
  }
  .cabecalhoPrincipal-nav-link{
    text-align: left;
  }
  .barrinha{
    display: none;
  }
  .span{
    width: 350px;
    border: 1px solid #B76E79;
  }
  .Pricipal-home{
    width: 100%;
  }
  .class-servico{
    flex-direction: column;
    display: block;
  }
  .conteudo-servicos{
    flex-direction: column;
  }
  .servicos{
    width: 100%;
    flex-direction: column;
  }
  .servicos-2{
    flex-direction: column;
  }
  .contato-principal{
    flex-direction: column;
    height: 100%;
    padding-bottom: 50px;
  }
  .global-contato{
    flex-direction: column;
    margin: 10px;
    padding: 0px;
    align-items: center;
  }
  #divisoria{
    display: none;
  }
  .divisoria{
    align-items: center;
    width: 350px;
    margin-top: 50px;
    border: 1px solid #B76E79;
    margin-left: 16px;
  }
  .mapa{
    width: 100%;
    background-image: url(marmore-branco.jpg);
  }
  .mapa iframe{
    margin-top: 75px;
    width: 300px;
    height: 200px;
    padding: 0;
    margin-left: 50px;
    margin-bottom: 75px;
  }
  .sobre{
    flex-direction: column;
  }
  .conteudo-sobre{
    flex-direction: column;
  }
  .clinica{
    width: 300px;
    padding-bottom: 50px;
    margin: 0;
    padding-left: 10%;
  }
  .paragrafo-sobre{
    font-size: 18px;
    text-align: justify;
    margin-left: 15%;
  }

}